@tailwind base;
@tailwind components;
@tailwind utilities;

.paragraph {
  @apply text-secondary/80 lowercase text-lg lg:text-xl xl:text-2xl text-pretty md:w-[45vw] max-w-[700px];
}

.title {
  @apply text-5xl font-semibold text-secondaryBackground;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #121212;
  color: #c3c3c3;
}

html {
  letter-spacing: 1px;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
